.hearder__container {
  background-color: #2b2d42;
  margin: 0;
  padding: 1rem;
  height: 10vh;
}

.header__title {
  size: 1.3rem;
  padding: 0.5rem;
  text-align: center;
  color: #edf2f4;
}

.header__text {
  color: #d90429;
  text-align: center;
  font-size: 1rem;
  margin-top: -10px;
  font-weight: bold;
}

.todoList__body {
  background-color: #edf2f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.addList__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border: solid 1px #9a031c;
  margin: 1rem;
  border-radius: 20px;
  width: 20%;
  transition: 300ms;
  height: 20vh;
}

.addList__text {
  font-size: 1.1rem;
  color: #2b2d42;
  text-align: center;
}

.addList__input {
  margin: 0.5rem;
  padding: 0.4rem;
  border-radius: 16px;
  width: 90%;
}

.addList__button {
  padding: 0.4rem;
  background: #b80422;
  border-radius: 10px;
  margin: 0.3rem;
  color: #edf2f4;
  width: 4rem;
  align-items: CENTER;
  display: FLEX;
  justify-content: SPACE-BETWEEN;
}

.empityList__container {
  height: 29rem;
  display: flex;
  align-items: center;
  height: 59vh;
}

.empityList__text {
  font-size: 2rem;
  font-style: italic;
  margin: 1rem;
  color: #9a031c;
  font-weight: 300;
}

.list__container {
  display: flex;
  flex-direction: row;
  margin: 2rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.list__title {
  position: absolute;
  top: 18rem;
  left: 2rem;
  font-size: 1.5rem;
  font-weight: 900;
  color: #2b2d42;
}
